<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <script type="text/javascript" src="{% static 'js/libs/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body class="content-body">
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-1" style="padding-left: 15px; padding-right: 15px">
            <a href="#" class="left brand-logo">Django file sample</a>
            <ul class="right">
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/accounts/signup">Signup</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <h2 class="page-head-title">{% block page_head_title %}{% endblock %}</h2>
    {% block content %}{% endblock %}
</div>
{% block extra_js %}{% endblock %}
{% block extra_css %}{% endblock %}
</body>
</html>